:root {
  --bodyFont: 'Biotif', sans-serif;
  --headingFont: 'Neuzeit Grotesk Bold', sans-serif;

  --primaryColor: #f2f2f2;
  --secondaryColor: #8f9ba8;
  --backgroundColor: #1e2028;
  --commandColor: rgba(255, 255, 255, 0.05);
  --hoverColor: #252731;

  --green: #8aff80;
  --cyan: #80ffea;

  --borderRadius: 8px;

  --linkSize: 12px;

  --duration: 0.2s;
}

* {
  box-sizing: border-box;
  font-family: var(--bodyFont);
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--primaryColor);
  -webkit-font-smoothing: antialiased;
  background: var(--backgroundColor);
}

.wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*
======================
Selection
======================
*/
.green ::selection {
  background: var(--green);
  -webkit-text-fill-color: #000;
  color: #000;
}

.cyan ::selection {
  background: var(--cyan);
  -webkit-text-fill-color: #000;
  color: #000;
}

/*
======================
Header
======================
*/
.site-header {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.site-navbar {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  list-style: none;
}

.site-navbar li {
  height: 32px;
  line-height: 32px;
  /* border: 1px solid red; */
}

.site-navbar li a {
  position: relative;
  padding: 8px 8px;
  color: var(--secondaryColor);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--linkSize);
  font-weight: 500;
  letter-spacing: 1.2px;
  transition: var(--duration) ease-in-out;
}

.site-navbar li a:hover {
  color: var(--primaryColor);
}

.site-navbar li a:after {
  content: '';
  position: absolute;
  background-color: var(--primaryColor);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: var(--duration) ease-in-out;
}

.site-navbar li a:hover:after {
  width: 100%;
}

.site-navbar-link__active > a {
  color: var(--primaryColor) !important;
}
.site-navbar-link__active > a:after {
  width: 100% !important;
}

.btn-nav {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  height: 32px;
  padding: 0 6px;
  border-radius: var(--borderRadius);
  transition: var(--duration) ease-in-out;
}

.btn-nav:hover {
  background: var(--hoverColor);
}

.btn-logo span {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-decoration: none;
  font-family: var(--headingFont);
}

.btn-cmd i {
  font-size: 20px;
  line-height: 32px;
}

/*
======================
Footer
======================
*/
.site-footer {
  background: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  z-index: 1;
}

.site-footer a {
  color: var(--secondaryColor);
  padding: 4px 8px;
  display: flex;
  font-size: 15px;
  text-decoration: none;
  text-transform: lowercase;
  transition: color var(--duration) ease-in-out;
}

.site-footer a:hover {
  color: var(--primaryColor);
}

.site-footer a i {
  margin-top: 1px;
  margin-left: 4px;
  opacity: 0;
  transition: opacity var(--duration) ease-in-out;
}

.site-footer a:hover i {
  opacity: 1;
}

/*
======================
Bio
======================
*/
.bio-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bio-box h2 {
  margin: 0;
  padding: 16px 0 0 0;
  font-size: 40px;
  font-family: var(--headingFont);
}

.bio-box p {
  margin: -5px 0 0 0;
}

.bio-photo {
  width: 100px;
  height: 100px;
  border: 2px solid var(--secondaryColor);
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(70%);
  position: relative;
  max-height: 200px;
  max-width: 200px;
}

.command-box {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.command-btn {
  font-size: 16px;
  font-weight: 600;
}

.command-btn:hover > .tag-btn-key {
  background-color: var(--primaryColor);
}

.tag-btn-key {
  font-size: 14px;
  cursor: pointer;
  background-color: var(--secondaryColor);
  border: none;
  color: var(--backgroundColor);
  display: inline-block;
  width: 26px;
  padding: 2px 3px;
  border-radius: var(--borderRadius);
  transition: var(--duration) ease-in-out;
}

@media (max-width: 525px) {
  .bio-box {
    justify-content: center;
  }

  .bio-photo {
    margin-top: 50px;
    width: 150px;
    height: 150px;
  }
}

/*
======================
Articles
======================
*/

.last-talks-heading {
  align-self: flex-start;
}

.last-talks {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.last-talk-item {
  flex: 0 310px;
  height: 290px;
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--borderRadius);
  transition: var(--duration) ease-in-out;
  text-decoration: none;
  color: var(--primaryColor);
}

.last-talk-item:hover {
  background-color: var(--hoverColor);
}

.last-talk-image {
  position: relative;
  height: 200px;
}

.last-talk-item img {
  border-radius: var(--borderRadius);
  filter: grayscale(0.6);
  opacity: 0.8;
}

.last-talk-content {
  margin-top: 12px;
}

.last-talk-content h3 {
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}

.last-talk-content span {
  font-size: 12px;
  letter-spacing: 1px;
}

@media (max-width: 525px) {
  .last-talks-heading {
    align-self: center;
  }
  .last-talk-item {
    flex: 0 410px;
    height: 360px;
  }
  .last-talk-image {
    height: 270px;
  }
}

/* .last-talk-item:last-child {
} */

/*
======================
Videos
======================
*/

.my-thought-box {
  margin: 20px 0px;
  padding: 20px;
  border-radius: var(--borderRadius);
  background-color: var(--hoverColor);
  font-family: var(--headingFont);
}

.last-videos-heading {
  align-self: flex-start;
}

.last-videos-container {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.video-item {
  flex: 1;
  display: flex;
  gap: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: var(--borderRadius);
  transition: var(--duration) ease-in-out;
  text-decoration: none;
  color: var(--primaryColor);
}

.video-item:hover {
  background-color: var(--hoverColor);
}

.video-thumb {
  box-sizing: content-box;
  position: relative;
  min-width: 250px;
  min-height: 138px;
}
.video-thumb img {
  min-width: 250px;
  min-height: 138px;
  box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
  border-radius: var(--borderRadius);
  filter: grayscale(0.6);
  opacity: 0.8;
}

.last-video-content h3 {
  font-size: 20px;
  margin: 0px 0px 5px 0px;
}

.last-video-content h4 {
  color: var(--secondaryColor);
  font-weight: lighter;
  font-size: 16px;
  margin: 0px 0px 5px 0px;
}

.last-video-content span {
  font-size: 12px;
  letter-spacing: 1px;
}

@media (max-width: 525px) {
  .my-thought-box {
    margin: 20px 40px;
  }
  .last-videos-heading {
    align-self: center;
  }
  .video-item {
    margin: 30px;
    flex-direction: column;
  }
  .video-thumb {
    min-height: 238px;
  }
  .video-thumb img {
    min-height: 238px;
  }
}

/*
======================
General
======================
*/
.site-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 670px;
}

.btn-primary {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--primaryColor);
  height: 40px;
  padding: 8px 12px;
  border-radius: var(--borderRadius);
  transition: var(--duration) ease-in-out;
}

.btn-primary:hover {
  background: var(--hoverColor);
}

/*
======================
Fonts
======================
*/

@font-face {
  font-family: 'Neuzeit Grotesk Bold';
  src: url('/static/font/NeuzeitGrotesk-Bold.woff2') format('woff2'),
    url('/static/font/NeuzeitGrotesk-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/font/Biotif-Bold.woff2') format('woff2'),
    url('/static/font/Biotif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/font/Biotif-SemiBold.woff2') format('woff2'),
    url('/static/font/Biotif-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/font/Biotif-Book.woff2') format('woff2'),
    url('/static/font/Biotif-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/font/Biotif-Regular.woff2') format('woff2'),
    url('/static/font/Biotif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/font/Biotif-RegularItalic.woff2') format('woff2'),
    url('/static/font/Biotif-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
