@import url("pages.css");

:root {
  --bodyFont: 'IBMPlexSans', sans-serif;
  --headingFont: 'IBMPlex Bold', sans-serif;
  --quoteFont: 'IBMPlexSans Italic', sans-serif;

  --primaryColor: #ECF0F6;
  --secondaryColor: #E1E3E7;
  --backgroundColor: #090A0C;
  --commandColor: rgba(63, 63, 70, 0.09);
  --hoverColor: rgba(63, 63, 70, 0.2);

  --green: #8aff80;
  --cyan: #80ffea;

  --borderRadius: 8px;

  --linkSize: 12px;

  --duration: 0.2s;
}

* {
  box-sizing: border-box;
  font-family: var(--bodyFont);
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--primaryColor);
  -webkit-font-smoothing: antialiased;
  background: var(--backgroundColor);
	scroll-behavior: smooth;
}

ul li {
	padding: 6px 0px;
}

.wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*
======================
Useful
======================
*/
.green-gradient-background {
	background-image: linear-gradient( 135deg, var(--cyan) 0%, var(--green) 100% );
}
.green-gradient-text{
	background-size: 100%;
  background-clip: text;
	background-image: linear-gradient( 135deg, var(--cyan) 0%, var(--green) 100% );
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
}

.green ::selection {
  background: var(--green);
  -webkit-text-fill-color: #000;
  color: #000;
}

.cyan ::selection {
  background: var(--cyan);
  -webkit-text-fill-color: #000;
  color: #000;
}

/*
======================
Header
======================
*/
.site-header {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.site-navbar {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  list-style: none;
}

.site-navbar li {
  height: 32px;
  line-height: 32px;
  /* border: 1px solid red; */
}

.site-navbar li a {
  position: relative;
  padding: 8px 8px;
  color: var(--secondaryColor);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--linkSize);
  font-weight: 500;
  letter-spacing: 1.2px;
  transition: var(--duration) ease-in-out;
}

.site-navbar li a:hover {
  color: var(--primaryColor);
}

.site-navbar li a:after {
  content: '';
  position: absolute;
  background-color: var(--primaryColor);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: var(--duration) ease-in-out;
}

.site-navbar li a:hover:after {
  width: 100%;
}

.site-navbar-link__active > a {
  color: var(--primaryColor) !important;
}
.site-navbar-link__active > a:after {
  width: 100% !important;
}

.btn-nav {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  height: 32px;
  padding: 0 6px;
  border-radius: var(--borderRadius);
  transition: var(--duration) ease-in-out;
}

.btn-nav:hover {
  background: var(--hoverColor);
}

.btn-logo span {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  text-decoration: none;
  font-family: var(--headingFont);
}

.btn-cmd i {
  font-size: 20px;
  line-height: 32px;
}

/*
======================
Footer
======================
*/
.site-footer {
  background: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
	margin-top: 50px;
  z-index: 1;
}

.site-footer a {
  color: var(--secondaryColor);
  padding: 4px 8px;
  display: flex;
  font-size: 15px;
  text-decoration: none;
  text-transform: lowercase;
  transition: color var(--duration) ease-in-out;
}

.site-footer a:hover {
  color: var(--primaryColor);
}

.site-footer a i {
  margin-top: 1px;
  margin-left: 4px;
  opacity: 0;
  transition: opacity var(--duration) ease-in-out;
}

.site-footer a:hover i {
  opacity: 1;
}

/*
======================
General
======================
*/
.site-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 769px;
  margin: 0 20px;
}

.btn-primary {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--primaryColor);
  height: 40px;
  padding: 8px 12px;
  border-radius: var(--borderRadius);
  transition: var(--duration) ease-in-out;
}

.btn-primary:hover {
  background: var(--hoverColor);
}

/*
======================
Command Palette
Ref: This code was copied from this repository:
Link: https://github.com/zenorocha/zenorocha.com/blob/master/public/static/css/main.css
Author: Zeno Rocha
======================
*/
.kbar-blur {
  background-color: #1a1c1e;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .kbar-blur {
    background-color: var(--commandColor);
    -webkit-backdrop-filter: saturate(300%) blur(25px);
    backdrop-filter: saturate(300%) blur(25px);
  }
}

/*
======================
Fonts
======================
*/

@font-face {
  font-family: 'IBMPlex Bold';
  src: url('/static/font/IBMPlexSans-Bold.woff2') format('woff2'),
    url('/static/font/IBMPlexSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/static/font/IBMPlexSans-Bold.woff2') format('woff2'),
    url('/static/font/IBMPlexSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/static/font/IBMPlexSans-Bold.woff2') format('woff2'),
    url('/static/font/IBMPlexSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/static/font/IBMPlexSans-Regular.woff2') format('woff2'),
    url('/static/font/IBMPlexSans-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/static/font/IBMPlexSans-Regular.woff2') format('woff2'),
    url('/static/font/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Italic';
  src: url('/static/font/IBMPlexSans-Italic.woff2') format('woff2'),
    url('/static/font/IBMPlexSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
